/* body > .scaffold > :is(top-nav, navigation-rail, side-nav, footer),
main > :not(:last-child),
main > :last-child > navigation-tree,
main .toc-container {
  display: none;
}

#header{
  display:none !important
} */


#center{
  display:none !important


} 

/* .star-icon {
  background-color: aliceblue;
  
} */

/* .star-icon::before,
.star-icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-icon::before {
  width: 16px;
  height: 16px;
  background-color: #f1c40f;
  border-radius: 50%;
}

.star-icon::after {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.star-icon img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}





/* .star-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
} */ 
